# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python tools
.pytest_cache/
.mypy_cache/

# Streamlit
.streamlit/secrets.toml

# Temporary files
*.tmp
*.log

# Environment variables
.env
.env.*

# Build / distribution
build/
dist/
*.egg-info/